.cabecalho{
  width: 100%;
  background:#fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cabecalho nav ul{
  display: flex;
  list-style: none;

}
.cabecalho nav ul li{
  display: flex;
  list-style: none;
  margin-right: 30px;
  font-size: 30px;
 
 
 
}
a {
text-decoration: none;
color:#004AAD;
padding: 10px;
border-radius: 5px;
}
.cabecalho a:hover{
  background:  #004AAD;
 transition: .800s;
 color: #fff;
}

@media screen and (min-width:0) and (max-width:720px) {
  .cabecalho img{
    width: 200px;
    margin: auto;
  }
  .cabecalho nav ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    background: #fff;
  }
  .cabecalho nav ul li{
 
    font-size: 16px;
   
   
   
  }
}