.cabecalho{
  width: 100%;
  background:#fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
  position: fixed;
  z-index: 4;
  
}
.cabecalho .scroll{
  background: rgba(255,255,255,0.8);
}


