.rodape{
  display: flex;
  width: 100%;
  background: #fff;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #004aad;
  height: 150px;

}
.rodape img{
 width: 180px;
 
}
.rodape ul{
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}
.rodape ul li{
 margin: 5px;

 letter-spacing: 2px;
 padding: 5px;
}
