.rodape{
  display: flex;
  width: 100%;
  background: #fff;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #004aad;


}
.rodape img{
 width: 200px;
 
}
.rodape ul li{
 margin: 5px;

 letter-spacing: 2px;
 padding: 5px;
}
