.slide-container{
  width: 100%;
  font-weight: bold;
  text-align: center;
  background: #fff;
  color: #004AAD;


}
.descricao{
  font-size: 2rem;
  background:rgba(176, 169, 169, 0.6);
  padding: 20px;
}
